amqp==2.4.2
anyjson==0.3.3
asn1crypto==0.24.0
billiard==3.6.0.0
celery==4.3.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
crcmod==1.7
cryptography==3.2
Django==2.1.7
django-appconf==1.0.3
django-cache==0.1.3
djangorestframework==3.9.2
entrypoints==0.3
flake8==3.7.7
idna==2.8
kombu==4.5.0
mccabe==0.6.1
psycopg2-binary==2.8.1
pycodestyle==2.5.0
pycparser==2.19
pydub==0.23.1
pyflakes==2.1.1
PyJWT==1.7.1
python-dotenv==0.10.1
pytz==2018.9
redis==3.2.1
requests==2.21.0
rmr-django==1.1.5
sentry-sdk==0.7.11
six==1.12.0
urllib3==1.24.1
vine==1.3.0
